*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    z-index: 1000;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
}

/*Order CSS*/

.Order .backbtn ul{
    list-style: none
}

.Order .backbtn ul li{
    display: inline-block;
    margin: 0 15px ;
}

.Order .backbtn ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

.Order .backbtn .main-order-button {
    background-color: #fac031;
    width: 100px;
    height: 12px;
    border-style: none; 
 }

.Order .backbtn{
    padding: 10px 0 ;
    background: #fac031;
    color: white;
    width: 10%;
    margin-left: 50px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Order .order-text h1{
    position: absolute;
    margin-top: 80px;
    margin-left: 685px;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500px;
}
.Order .order-text h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    font-size: 50px;
}

.Order .order-text h1 span::after{
    content: '';
    width: 22%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 2px;
    margin-left: 175px;
}

.Order{
    width: 100%;
    height: 100vh;
    padding: 120px 0;
    
}

.Order .order-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 22px;
}


.Order .order-main .order-image img{
    width: 600px;
}


.Order .order-main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px ;
}

.Order .order-main form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #eeeeee;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.Order .order-main form .input input:focus{
    border: 2px solid #fac031;
}

.Order .order-main form .main-order-button {
    padding: 10px 0 ;
    background: #fac031;
    color: white;
    width: 50%;
    
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}














@media only screen and (max-width: 768px ) 
{

/*Order CSS*/

.Order {
    overflow: hidden;
}

.Order .backbtn{
    list-style: none;
    border-radius: 2px;
    border: 2px solid #000000;
    
}

.Order .backbtn .main-order-button {
   background-color: #fac031;
   width: 100px;
   height: 12px;
   border-style: none; 
}

.Order .order-main form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px ;
    margin-top: 250px;
    margin-left: -175px ;
}

.Order .order-text h1{
    font-size: 30px;
    margin-left: 20px;
    position: absolute;
    top: calc(300px);
    left: calc(18%);
}

.Order .order-main .image img{
    position: absolute;
    width: 500px;
    height: 400px;
    top: calc(8%);;
    left: calc(18%);
}

.Order .order-text h1 span::after{
    content: '';
    width: 63%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 2px;
    margin-left: 175px;
}


}